/* CSS Document */
@media (max-width: 1028px)
{
	.gallery-image
	{
		width: 100%;
		padding-top: 3%;
		padding-bottom: 3%;
	}
}

@media (min-width: 1028px)
{
	.gallery-image
	{
		width: 50%;
		padding-top: 3%;
		padding-bottom: 3%;
	}
}
