.wc-nowadays
{
	font-family: "Times New Roman";
	font-size: 1.9rem;
	font-style: italic;
	font-weight: bold;
	text-align: left;
}

.modified-and-imitation
{
	font-family: "Times New Roman";
	font-size: 1.4rem;
	font-style: italic;
	font-weight: bold;
}